/* Add Your Style Tweaks/Additions Here */

/*
 * TABLES
*/
 
table {
  border-collapse: collapse;
  width: 100%; /* Prevent cramped-looking tables */
  border-bottom: 1px solid #85bc22;
}

th,
thead th,
tbody th {
  text-align: left; 
  padding: 1.0em;
  border-bottom: none;
  color: #85bc22;
  font-weight: bold;
  background: #ffffff;
}

th a {
 color: #85bc22;
}

thead {
  background: #ffffff;
}

tbody {
  border-top: none;
}

tr, tr.even, tr.odd {
  padding: 0;
  background: #ffffff;
  border-bottom: 1px solid #eeeeee;
  text-shadow: none;
}

tr.odd {
  background: #ffffff;
}

tr th {
   text-shadow: none;
}

tr.region {
  background: #ffffff;
  text-shadow: none;
}

tr.warning.merge-up td {
  background: #f9f9f9;
  border-top: 2px solid #dddddd;
  color: #555555;
}

tr.warning.merge-down td {
  background: #dddddd;
  font-weight: bold;
  color: #ff0000;
}

td {
  padding: 4px 4px 0px 10px;
  vertical-align: top;
  
}

td.active {
    background-color: #f5f5f5;
}

/*
 * FIELDSET
*/





/*
 * FORMS
*/

.form-text, .form-textarea {
  padding: 3px;
  border: 1px solid #85bc22;
  border-top: 1px solid #85bc22;
  border-radius: 2px;
	background: #ffffff;
  -moz-border-radius: 2px;
  
}

.form-submit {
  margin-bottom: 1em;
  margin-right: 0.2em;
  padding: 5px 17px;
  color: #434f4f;
  font-size: 1.0em;
  cursor:pointer;
  text-align: center;
  background: url("../images/admin/buttons.png") repeat-x;
  border-color: #E4E4E4 #D2D2D2 #B4B4B4;
  border-style: solid;
  border-width: 1px;
  border-radius: 5px;
  -moz-border-radius: 5px;
	border-radius: 5px;
  text-shadow: 1px 1px #ffffff;
}

.form-submit:hover {
  background: #85bc22;
}

.form-submit:active {
  background: #dddddd;
}

.form-item label, .form-item .description {
	color: #555555;
}

/* LUCA */

.views-exposed-form { 
	background: #95bc22;
	border-radius: 8px;
	padding: 8px;
	margin-bottom: 8px;
}

.luca-evrow .teaser {
	background: #ddd;
	border-radius: 8px;
	border: 1px solid #95bc22;

}

.luca-ev-typ, .luca-ev-uhrzeit, .luca-ev-tag, .luca-ev-raum, 
.luca-ev-beginn, .luca-ev-dauer {
	display: inline-block;
	background: #fff;
	padding: 2px 4px;
	border-radius: 4px;
	margin: 0 6px 6px 0;
}

.luca-ev-typ { background: #95bc22; }

.luca-ev-kat .field-item {
	display: inline-block;
	background: #fff;
	padding: 1px 3px;
	border-radius: 4px;
	margin: 0 6px 6px 0;
	border: 1px solid #95bc22;
	font-size: 11px;
	text-transform: uppercase;
}
